[submodule "generator-synthetic-apps"]
	path = generator-synthetic-apps
	url = git@github.com:aletheia-microservices/generator-synthetic-apps.git
[submodule "aletheia"]
	path = aletheia
	url = git@github.com:aletheia-microservices/aletheia.git
